<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234287144943-e0liqskk5k7kg3sed21ot324o91vcqjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234287144943-e0liqskk5k7kg3sed21ot324o91vcqjg</string>
	<key>API_KEY</key>
	<string>AIzaSyCxGdCafCm1If0F32yLnTLZDBmpf04o4EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>234287144943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sahyaan.app</string>
	<key>PROJECT_ID</key>
	<string>sahyan-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>sahyan-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234287144943:ios:3d64e92b0e7a86301da01a</string>
</dict>
</plist>